# Модули и пакеты, установленные через npm
/node_modules

# Настройки просмотра папки в Mac OS X
.DS_*

# Настройки npm и Node.js-окружения
.npmrc

# Целевая папка процесса сборки исходного кода
# Содержит скомплированные файлы для публикации npm-пакета
/dist

# Целевая папка процесса сборки storybook'а
# Содержит скомплированные файлы storybook'а
/storybook-static

# Файлы настроек рабочего окружения конкретного IDE
.idea/
.vscode/

*storybook.log